@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  max-width: 50vw;
  overflow-x: hidden;
}

nav {
    height: 40px;
    display: flex;
}

.img {
    width: 50%;
    height: 50%;
    max-height: 50vh;
    padding: 20px;
}

.p {
   line-height: 1.5;

}

.nav__container {
    width: 50%;
    max-width: 600px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.orange {
    color: orange;
}

.logo {
    width: 90px ;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    color: orangered;
    font-weight: bold;
    padding: 8px
}

.nav__link:hover {
    text-decoration: underline;
    
}

.nav__link--primary {
    border: 2px solid orangered;
    border-radius: 4px;
}

.nav__link--primary:hover {
    text-decoration: none;
}

#landing {
    background-color: black;
}

header {
    height: calc(100vh-80px);
}

.header__container {
    padding-top:32px;
    width:50%;
    max-width: 720px;
    margin: 0 auto;
    height:50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header__description {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.header__img--wrapper {
    padding:20px;
    z-index:50
}

.container {
    padding: 80px 0;
}

.row {
    width: 50%;
    max-width: 600px;
    margin:0 auto;
}

h1 {
  font-size: 33px;
  color: orangered;
  margin-bottom: 24px;
  text-align: center;
}

h2{
  font-size: 24px;
  margin-bottom: 24px;
  text-align: center;
}

.btn__menu {
  background-color: orangered;
  color: white;
  padding: 12px 24px;
  display: none;
}

button {
  cursor: pointer;
}

button:active {
  transform: translateY(1px);
}

.header__img--wrapper {
    padding:20px;
    z-index:50
}

.container {
    padding: 80px 0;
}

.row {
    width:50%;
    max-width:600px;
    margin:0 auto;
}

.row__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-cursor {
  cursor: not-allowed;
}

/* PLANNING */

#planning {
  position: relative;
  max-width: 100vw;
}

#planning:before {
  background: url('assets/wave.svg');
  content: "";
  position: absolute;
  width: 101vw;
  height: 12vw;
  left: 0;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
}

#planning:after {
  background: url('assets/wave.svg');
  content: "";
  position: absolute;
  width: 101vw;
  height: 12vw;
  left: 0;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
}

#planning:before {
  transform: translateY(-100%);
  top: 1px;
}

#planning:after {
  transform: translateY(100%) rotate(180deg);
  bottom: 1px;
}

.planning__img--wrapper {
    display: flex;
}

.planning {
    padding: 0 24px;
    width: calc(100%/3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.planning__para {
    text-align: center;
    max-width: 280px;
}

.planning__img {
  border: 2px solid rgb(250, 125, 79);
  color: orangered;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 32px;
  margin-bottom: 24px;
}

.planning__subtitle {
  font-size: 20px;
  margin-bottom: 16px;
  text-align: center;
}

/*  FEATURES */

#features {
  padding-top: 8vw;
  background-color: rgb(134, 37, 1)
}

.HandsOnTrainingandRealWorldScenarios {
  display: flex;
  flex-wrap: wrap;
}

.HandsOnTrainingandRealWorldScenario {
  width: 25%;
  padding: 24px;
}

.HandsOnTrainingandRealWorldScenario__img {
  max-height: 160px;
  transition: all 300ms ease;
  cursor: not-allowed;
}

.HandsOnTrainingandRealWorldScenario__img--wrapper {
  margin-bottom: 8px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
}

.HandsOnTrainingandRealWorldScenario:hover .HandsOnTrainingandRealWorldScenario__img {
  transform: scale(1.03);
}

.HandsOnTrainingandRealWorldScenario__title {
  font-size: 20px;
  margin-bottom: 8px;
}

.HandsOnTrainingandRealWorldScenario__title:hover {
  text-decoration: underline;
  cursor: not-allowed;
}


.HandsOnTrainingandRealWorldScenario__price--normal {
  text-decoration: line-through;
  padding-right: 6px;
  color: #bfbfbf;
}

#DISCOVERALLTHEBESTHANDS-ON {
  background-color: rgb(221, 18, 18)
}

/* FOOTER*/

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.links {
    display: flex;
    flex-wrap: wrap;
}

.link {
    display: flex;
    flex-direction: column;
    width:calc(100%/5);
    align-items: center;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */
@media (max-width: 768px) {
  .header__description {
    padding: 0 24px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 26px;
  }

  button {
    font-size: 18px;
  }

  .HandsOnTrainingandRealWorldScenario {
    width: 50%;
  }
}

/* SMALL PHONES, LARGE SMARTPHONES */
@media (max-width: 550px) {
  .btn__menu {
    display: block;
  }

  .nav__links {
    display: none;
  }

  .highlight {
    width: 100%;
  }

  .highlight:not(:last-child) {
    margin-bottom: 24px;
  }
}